<header class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="nav-item <%= 'active' if request.path == root_path %>">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if controller_name == 'messages' %>"
         href="<%= messages_path %>">Messages</a>
    </li>
  </ul>
  <div class="links pull-right">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown" id="notifications-menu">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-bell"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <% current_user.notifications.each do |n| %>
              <li>
                <a href="<%= n.link %>" class="dropdown-item">
                  <img src="<%= avatar(n.recipient) %>" alt="">
                  <span class="time">
                    <%= time_ago_in_words n.created_at %> ago
                  </span>
                  <span class="desc"><%= n.description %></span>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path,
                      :class => 'nav-link', :method => :delete %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path,
                      :class => 'nav-link' %>
        <% end %>
      </li>
    </ul>
  </div>
</header>